@keyframes nod {
  33.33% {
    transform: translateY(-6px);
  }

  66.67% {
    transform: translateY(2px);
  }
}

@keyframes shake {
  33.33% {
    transform: translateX(4px);
  }

  66.67% {
    transform: translateX(-4px);
  }
}

.alert {
  position: fixed;
  top: 12px;
  right: 12px;
  left: 12px;
  max-width: 480px;
  margin: 0 auto;
  z-index: 5;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
              0 1px 10px 0 rgba(0,0,0,0.12),
              0 2px 4px -1px rgba(0,0,0,0.3);
  display: flex;
  background-color: #ffffff;
}

.alert--hide {
  transition: 280ms transform cubic-bezier(0.55, 0.055, 0.675, 0.19);
  pointer-events: none;
  transform: translateY(-100%) translateY(-24px);
}

.alert--show {
  transition: 280ms transform cubic-bezier(0.215, 0.610, 0.355, 1);
}

.alert--success.alert--animated {
  animation: nod 240ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.alert--error.alert--animated {
  animation: shake 240ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.alert__badge,
.alert__dismiss {
  flex: 0 auto;
  color: #707279;
  padding: 12px;
}

.alert__badge {
  background-color: #707279;
  color: #ffffff;
}

.alert--success .alert__badge {
  background-color: #9be4a5;
  color: #138321;
}

.alert--error .alert__badge {
  background-color: #f7cfcf;
  color: #D62828;
}

.alert__icon {
  display: block;
}

.alert__body {
  flex: 1 auto;
  padding: 12px;
  font-size: 0.875rem;
}

.alert__heading {
  display: block;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.alert--success .alert__heading {
  color: #138321;
}

.alert--error .alert__heading {
  color: #d62828;
}

.alert__dismiss {
  align-self: flex-start;
  appearance: none;
  background: 0;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: inherit;
  line-height: inherit;
}

.alert__dismiss:focus,
.alert__dismiss:hover {
  background-color: #f0f1f5;
}
