.field + .field {
  margin-top: 1.25rem;
}

.field__label {
  font-weight: 500;
  display: block;
}

.field__label,
.field__error-message {
  font-size: 0.875rem;
}

.field__optional-note {
  font-weight: 400;
}

.field__help {
  font-size: 0.75rem;
  color: #6f7179;
}

.field__input-wrapper {
  position: relative;
}

.field__input {
  display: block;
  border: 1px #D7DAE2 solid;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  transition: 200ms border-color linear;
}

.field__error-icon {
  color: #D62828;
  position: absolute;
  right: 8px;
}

.field:not(.field--textarea) .field__error-icon {
  top: 50%;
  transform: translateY(-50%);
}

.field--textarea .field__error-icon {
  bottom: 8px;
}

.field--textarea .field__input {
  line-height: 1.5;
}

.field--error .field__input {
  border-color: #D62828;
}

.field__input:focus {
  border-color: #78ADFD;
  outline: 0;
}

.field__error-message {
  position: relative;
  color: #fff;
  background-color: #D62828;
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 4px;
}

.field__error-message::after {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-100%);
  height: 16px;
  width: 16px;
  border-bottom: 8px #D62828 solid;
  border-right: 8px transparent solid;
  border-left: 8px transparent solid;
}
