.field + .field {
  margin-top: 1.25rem;
}

.field__label,
.field__error {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
}

.field__help {
  font-size: 0.75rem;
  color: #6f7179;
}

.field--required .field__label::after {
  content: "*";
  color: #D42121;
}

.field__input {
  display: block;
  border: 1px #D7DAE2 solid;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  width: 100%;
  padding: 8px;
  margin-top: 0.5rem;
  transition: 200ms border-color linear;
}

.field--textarea .field__input {
  line-height: 1.5;
}

.field--error .field__input {
  border-color: #D42121;
}

.field__input:focus {
  border-color: #78ADFD;
  outline: 0;
}

.field__error {
  margin-top: 0.25rem;
  color: #D42121;
}
