.form {
  line-height: 1.5;
  margin: 2rem auto;
  max-width: 560px;
  padding: 0 1.25rem;
}

.form__intro {
  padding-bottom: 1.25rem;
}

.form__intro em {
  font-style: italic;
}

.form__body {
  border-top: 1px #D7DAE2 solid;
  padding: 1.25rem 0;
}

.form__footer {
  display: flex;
  padding-top: 1.25rem;
}

.form__submit-btn {
  appearance: none;
  background-color: #4b2e84;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  display: block;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
