html {
  box-sizing: border-box;
  color: #313440;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
